html,
body {
	height: 100%;
	background-color: white;
}
body {
	color: black;
	font-size: 16px;
	text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
}
.site-wrapper-inner {
	display: table-cell;
}
.site-wrapper-inner {
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	/*fnt-size: 4.6vw;	*/


    /*vertical-align: middle;*/
    /*padding-top: 256px;
    padding-left: 311px;*/
 }

.background-img {
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*background: url('../images/01_1200.png') no-repeat center center;*/
	/*background-size: cover;*/
}

.cover-main {
	position: relative;
	z-index: 100;
/*	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;*/
}

.brand-name {
	margin-bottom: 8vh;
}

.font_roboto {
	font-family: 'Roboto', sans-serif;
}

.font_opensans {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 1em;	
	font-weight: 100;
	letter-spacing: 0.005em;	
}

h1 span {
	font-weight: 800;
	font-size: 1em;
	letter-spacing: -0.05em;	
}

.contacts .email {
	margin-bottom: 15px;
	/*font-size: 0.33em;*/
	font-size: 0.28em;
	text-transform: lowercase;
	letter-spacing: 0.025em;	
}

.contacts a {
	display: block;
	padding: 0;
	margin: 0;
	outline: none;
	font-size: 0;
}

/*.instagram {
	opacity: 0.3;
}
*/
.contacts a:hover .instagram {
	opacity: 0.3;
}

/*--------------------------*/

.cover-footer {
	/*display: none;*/
	position: fixed;
	z-index: 100;
	bottom: 0;
	width: 100%;
	height: 40px;
	/*border-top: 1px solid gray;*/
	background: white;
	font-size: 0.75em;
}

.cover-footer p {
	margin-top: 20px;
	margin-bottom: 5px;
	color: gray;
}

/*--------------------------*/
#header-nav {
	padding-top: 20px;
	border-bottom-color: black;
	background-color: white;
}

.navbar-brand {
	/*padding-top: 10px;*/
	font-size: 1.2em;
}

.navbar-brand h1 {
	margin: 0;
	color: black;
	font-size: 1em;	
}

.navbar-static-top h1 {
	padding-left: 12px;
}

#nav-list {
	letter-spacing: -0.05em;
}

#nav-list li.nav-active a {
	color: black
}

.classifier {
	/*padding-top: 40px;*/
	/*text-align: left;*/
	position: absolute;
	top: 80px;
	left: 0;
}

.btn-group-vertical {
	/*display: block;*/
	/*margin-left: -12px;*/
}

.btn {
	border: none;
	text-align: left;
	font-size: 1em;
	letter-spacing: 0.005em;
	opacity: 0.5;
}

.classifier .btn {
	padding-left: 25px;
} 

.classifier .btn:focus,
.classifier .btn:link,
.classifier .btn:hover, 
.classifier .btn:active {
    outline: none;
    background: none;
    box-shadow: none;
}

.classifier .btn:focus,
.classifier .btn:hover,
.classifier .btn:active{
    opacity: 1;
    transition: 1s;
}

.projects {
	padding-top: 70px;
	padding-bottom: 60px;
}


.project {
	padding-right: 40px;
	padding-left: 0px;
	padding-top: 40px;
}

.thumbnail {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	opacity: 1;
	transition: 1s;
}

.thumbnail:focus,
.thumbnail:hover, 
.thumbnail:active {
    outline: none;
    opacity: 0.4;
    transition: 1s;
}

.project {
	position: relative;
}

.caption {
	position: absolute;
	margin-left: -20px;
	width: 100%;
	top: 40%;
	opacity: 0;
}

.caption p {
	padding-left: 20px;
	padding-right: 20px
}


.carousel {
	/*margin-top: 40px;*/
	padding-top: 110px;
	padding-bottom: 60px;	
}

.carousel-inner .item {
	margin: 0 auto;
	float: none;
}

.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    font-size: 20px;
}
.carousel-control .glyphicon-menu-left {
    left: 20%;
    margin-left: -10px;
}
.carousel-control .glyphicon-menu-right {
    right: 20%;
    margin-right: -10px;
}
.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}

.carousel-control.right {
	background: none;
}

.carousel-control.left {
	background: none;
}

.glyphicon {
	box-shadow: none;
	text-shadow: none;
	color:  #c0c0c0;
}

.carousel-indicators {
	bottom: -50px;
}

.carousel-indicators li {
	border: 1px solid #c0c0c0;
	background: #c0c0c0;
	width: 5px;
	height: 5px;
}

.carousel-indicators .active {
	border: 1px solid #c0c0c0;
	background: #c0c0c0;
	width: 8px;
	height: 8px;

}

.project-description {
	margin-top: 110px;
	margin-left: 60px;
	/*padding-top: 110px;
	padding-bottom: 60px;*/
	text-align: left;
	font-size: 0.85em;
}

/*--------------------------*/

@media (min-width: 1200px) {
	.site-wrapper-inner {
		font-size: 40px;
	}
	
	.instagram {
		width: 25px;
		height: 25px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.site-wrapper-inner {
		font-size: 40px;
	}

	.instagram {
		width: 25px;
		height: 25px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.site-wrapper-inner {
		font-size: 30px;
	}

	.welcome-text {
		margin-bottom: 13vh;
	}

	.contacts .email {
  		font-size: 0.28em;
	}

	.instagram {
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 767px) {
	.site-wrapper-inner {
		font-size: 6.2vmin;
	}


	.brand-name {
		margin-bottom: 16vh;
	}

	.contacts .email {
  		font-size: 0.44em;
	}

	.instagram {
		width: 4.8vmin;
		height: 4.8vmin;
	}
}